<!DOCTYPE html>
<html lang="en">
<head>
    <meta charset="UTF-8">
    <meta http-equiv="X-UA-Compatible" content="IE=edge">
    <meta name="viewport" content="width=device-width, initial-scale=1.0">
    <title>Login</title>
</head>
<body>
    <center>
    <h1> Welcome to the website </h1>
        {% if user_login %}
            <h1>Hello</h1>
            <h1>Logout option</h1>
        {% else %}
            <h1> Login </h1>
            <h1> New Register </h1>
        {% endif %}

    <h1> For loop  Example </h1>
    <ol>
        <h1> Available Fruites </h1>
        {% for i in fruites %}
            <li>{{i}}</li>
        {% endfor %}
    </ol>

    </center>
</body>
</html>